In [1]:
import collections
Card = collections.namedtuple('Card', ['rank', 'suit'])
class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    def __init__(self):
            self._cards = [Card(rank, suit) for suit in self.suits
                                    for rank in self.ranks]
    
    def __len__(self):
        return len(self._cards)
    
    def __getitem__(self, position):
        return self._cards[position]

In [2]:
deck = FrenchDeck()
len(deck)

52

In [3]:
deck.__len__()

52

In [4]:
deck[0]

Card(rank='2', suit='spades')

In [5]:
deck.__getitem__(0)

Card(rank='2', suit='spades')

In [6]:
deck[:3]

[Card(rank='2', suit='spades'),
 Card(rank='3', suit='spades'),
 Card(rank='4', suit='spades')]

In [7]:
deck[12::13]

[Card(rank='A', suit='spades'),
 Card(rank='A', suit='diamonds'),
 Card(rank='A', suit='clubs'),
 Card(rank='A', suit='hearts')]

In [8]:
Card = collections.namedtuple('Card', ['rank', 'suit'])
class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    def __init__(self):
            self._cards = [Card(rank, suit) for suit in self.suits
                                    for rank in self.ranks]

In [9]:
deck = FrenchDeck()

In [10]:
import collections
Card = collections.namedtuple('Card', ['rank', 'suit'])
class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    def __init__(self):
            self._cards = [Card(rank, suit) for suit in self.suits
                                    for rank in self.ranks]
    
    def __len__(self):
        return len(self._cards)
    
    def __getitem__(self, position):
        print('position is : {}'.format(position))
        return self._cards[position]

In [11]:
deck = FrenchDeck()

In [12]:
deck[:3]

position is : slice(None, 3, None)

[Card(rank='2', suit='spades'),
 Card(rank='3', suit='spades'),
 Card(rank='4', suit='spades')]

In [13]:
deck[12::13]

position is : slice(12, None, 13)

[Card(rank='A', suit='spades'),
 Card(rank='A', suit='diamonds'),
 Card(rank='A', suit='clubs'),
 Card(rank='A', suit='hearts')]

In [14]:
for index, card in enumerate(deck):
    print(index)
    print(card)

position is : 0
0
Card(rank='2', suit='spades')
position is : 1
1
Card(rank='3', suit='spades')
position is : 2
2
Card(rank='4', suit='spades')
position is : 3
3
Card(rank='5', suit='spades')
position is : 4
4
Card(rank='6', suit='spades')
position is : 5
5
Card(rank='7', suit='spades')
position is : 6
6
Card(rank='8', suit='spades')
position is : 7
7
Card(rank='9', suit='spades')
position is : 8
8
Card(rank='10', suit='spades')
position is : 9
9
Card(rank='J', suit='spades')
position is : 10
10
Card(rank='Q', suit='spades')
position is : 11
11
Card(rank='K', suit='spades')
position is : 12
12
Card(rank='A', suit='spades')
position is : 13
13
Card(rank='2', suit='diamonds')
position is : 14
14
Card(rank='3', suit='diamonds')
position is : 15
15
Card(rank='4', suit='diamonds')
position is : 16
16
Card(rank='5', suit='diamonds')
position is : 17
17
Card(rank='6', suit='diamonds')
position is : 18
18
Card(rank='7', suit='diamonds')
position is : 19
19
Card(rank='8', suit='diamonds')
position is : 20
20
Card(rank='9', suit='diamonds')
position is : 21
21
Card(rank='10', suit='diamonds')
position is : 22
22
Card(rank='J', suit='diamonds')
position is : 23
23
Card(rank='Q', suit='diamonds')
position is : 24
24
Card(rank='K', suit='diamonds')
position is : 25
25
Card(rank='A', suit='diamonds')
position is : 26
26
Card(rank='2', suit='clubs')
position is : 27
27
Card(rank='3', suit='clubs')
position is : 28
28
Card(rank='4', suit='clubs')
position is : 29
29
Card(rank='5', suit='clubs')
position is : 30
30
Card(rank='6', suit='clubs')
position is : 31
31
Card(rank='7', suit='clubs')
position is : 32
32
Card(rank='8', suit='clubs')
position is : 33
33
Card(rank='9', suit='clubs')
position is : 34
34
Card(rank='10', suit='clubs')
position is : 35
35
Card(rank='J', suit='clubs')
position is : 36
36
Card(rank='Q', suit='clubs')
position is : 37
37
Card(rank='K', suit='clubs')
position is : 38
38
Card(rank='A', suit='clubs')
position is : 39
39
Card(rank='2', suit='hearts')
position is : 40
40
Card(rank='3', suit='hearts')
position is : 41
41
Card(rank='4', suit='hearts')
position is : 42
42
Card(rank='5', suit='hearts')
position is : 43
43
Card(rank='6', suit='hearts')
position is : 44
44
Card(rank='7', suit='hearts')
position is : 45
45
Card(rank='8', suit='hearts')
position is : 46
46
Card(rank='9', suit='hearts')
position is : 47
47
Card(rank='10', suit='hearts')
position is : 48
48
Card(rank='J', suit='hearts')
position is : 49
49
Card(rank='Q', suit='hearts')
position is : 50
50
Card(rank='K', suit='hearts')
position is : 51
51
Card(rank='A', suit='hearts')
position is : 52

In [15]:
Card('Q', 'hearts') in deck  # If a collection has no __contains__ method, the in operator does a sequential scan

position is : 0
position is : 1
position is : 2
position is : 3
position is : 4
position is : 5
position is : 6
position is : 7
position is : 8
position is : 9
position is : 10
position is : 11
position is : 12
position is : 13
position is : 14
position is : 15
position is : 16
position is : 17
position is : 18
position is : 19
position is : 20
position is : 21
position is : 22
position is : 23
position is : 24
position is : 25
position is : 26
position is : 27
position is : 28
position is : 29
position is : 30
position is : 31
position is : 32
position is : 33
position is : 34
position is : 35
position is : 36
position is : 37
position is : 38
position is : 39
position is : 40
position is : 41
position is : 42
position is : 43
position is : 44
position is : 45
position is : 46
position is : 47
position is : 48
position is : 49

True

In [16]:
suit_values = dict(spades=3, hearts=2, diamonds=1, clubs=0)
def spades_high(card):
    rank_value = FrenchDeck.ranks.index(card.rank)
    print('rank_value is : {}'.format(rank_value))
    print('return value is : {}'.format(rank_value * len(suit_values) + suit_values[card.suit]))
    return rank_value * len(suit_values) + suit_values[card.suit]

for card in sorted(deck, key=spades_high):
    print(card)

position is : 0
position is : 1
position is : 2
position is : 3
position is : 4
position is : 5
position is : 6
position is : 7
position is : 8
position is : 9
position is : 10
position is : 11
position is : 12
position is : 13
position is : 14
position is : 15
position is : 16
position is : 17
position is : 18
position is : 19
position is : 20
position is : 21
position is : 22
position is : 23
position is : 24
position is : 25
position is : 26
position is : 27
position is : 28
position is : 29
position is : 30
position is : 31
position is : 32
position is : 33
position is : 34
position is : 35
position is : 36
position is : 37
position is : 38
position is : 39
position is : 40
position is : 41
position is : 42
position is : 43
position is : 44
position is : 45
position is : 46
position is : 47
position is : 48
position is : 49
position is : 50
position is : 51
position is : 52
rank_value is : 0
return value is : 3
rank_value is : 1
return value is : 7
rank_value is : 2
return value is : 11
rank_value is : 3
return value is : 15
rank_value is : 4
return value is : 19
rank_value is : 5
return value is : 23
rank_value is : 6
return value is : 27
rank_value is : 7
return value is : 31
rank_value is : 8
return value is : 35
rank_value is : 9
return value is : 39
rank_value is : 10
return value is : 43
rank_value is : 11
return value is : 47
rank_value is : 12
return value is : 51
rank_value is : 0
return value is : 1
rank_value is : 1
return value is : 5
rank_value is : 2
return value is : 9
rank_value is : 3
return value is : 13
rank_value is : 4
return value is : 17
rank_value is : 5
return value is : 21
rank_value is : 6
return value is : 25
rank_value is : 7
return value is : 29
rank_value is : 8
return value is : 33
rank_value is : 9
return value is : 37
rank_value is : 10
return value is : 41
rank_value is : 11
return value is : 45
rank_value is : 12
return value is : 49
rank_value is : 0
return value is : 0
rank_value is : 1
return value is : 4
rank_value is : 2
return value is : 8
rank_value is : 3
return value is : 12
rank_value is : 4
return value is : 16
rank_value is : 5
return value is : 20
rank_value is : 6
return value is : 24
rank_value is : 7
return value is : 28
rank_value is : 8
return value is : 32
rank_value is : 9
return value is : 36
rank_value is : 10
return value is : 40
rank_value is : 11
return value is : 44
rank_value is : 12
return value is : 48
rank_value is : 0
return value is : 2
rank_value is : 1
return value is : 6
rank_value is : 2
return value is : 10
rank_value is : 3
return value is : 14
rank_value is : 4
return value is : 18
rank_value is : 5
return value is : 22
rank_value is : 6
return value is : 26
rank_value is : 7
return value is : 30
rank_value is : 8
return value is : 34
rank_value is : 9
return value is : 38
rank_value is : 10
return value is : 42
rank_value is : 11
return value is : 46
rank_value is : 12
return value is : 50
Card(rank='2', suit='clubs')
Card(rank='2', suit='diamonds')
Card(rank='2', suit='hearts')
Card(rank='2', suit='spades')
Card(rank='3', suit='clubs')
Card(rank='3', suit='diamonds')
Card(rank='3', suit='hearts')
Card(rank='3', suit='spades')
Card(rank='4', suit='clubs')
Card(rank='4', suit='diamonds')
Card(rank='4', suit='hearts')
Card(rank='4', suit='spades')
Card(rank='5', suit='clubs')
Card(rank='5', suit='diamonds')
Card(rank='5', suit='hearts')
Card(rank='5', suit='spades')
Card(rank='6', suit='clubs')
Card(rank='6', suit='diamonds')
Card(rank='6', suit='hearts')
Card(rank='6', suit='spades')
Card(rank='7', suit='clubs')
Card(rank='7', suit='diamonds')
Card(rank='7', suit='hearts')
Card(rank='7', suit='spades')
Card(rank='8', suit='clubs')
Card(rank='8', suit='diamonds')
Card(rank='8', suit='hearts')
Card(rank='8', suit='spades')
Card(rank='9', suit='clubs')
Card(rank='9', suit='diamonds')
Card(rank='9', suit='hearts')
Card(rank='9', suit='spades')
Card(rank='10', suit='clubs')
Card(rank='10', suit='diamonds')
Card(rank='10', suit='hearts')
Card(rank='10', suit='spades')
Card(rank='J', suit='clubs')
Card(rank='J', suit='diamonds')
Card(rank='J', suit='hearts')
Card(rank='J', suit='spades')
Card(rank='Q', suit='clubs')
Card(rank='Q', suit='diamonds')
Card(rank='Q', suit='hearts')
Card(rank='Q', suit='spades')
Card(rank='K', suit='clubs')
Card(rank='K', suit='diamonds')
Card(rank='K', suit='hearts')
Card(rank='K', suit='spades')
Card(rank='A', suit='clubs')
Card(rank='A', suit='diamonds')
Card(rank='A', suit='hearts')
Card(rank='A', suit='spades')

In [17]:
from math import hypot
class Vector:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return 'Vector(%r, %r)' % (self.x, self.y)
    
    def __abs__(self):
        return hypot(self.x, self.y)
    
    def __bool__(self):
        return bool(abs(self))
    
    def __add__(self, other):
        print(other)
        x = self.x + other.x
        y = self.y + other.y
        return Vector(x, y)
    
    def __mul__(self, scalar):
        return Vector(self.x * scalar, self.y * scalar)

In [18]:
v1 = Vector(2, 4)
v2 = Vector(2, 1)
v3 = Vector(2, 3)
v1 + v2 + v3

Vector(2, 1)
Vector(2, 3)

Vector(6, 8)

In [19]:
symbols = '$¢£¥€¤'

In [20]:
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

In [21]:
codes

[36, 162, 163, 165, 8364, 164]

In [22]:
codes = [ord(symbol) for symbol in symbols]

In [23]:
codes

[36, 162, 163, 165, 8364, 164]

In Python 2.x, variables assigned in the for clauses in list comprehensions were set in
the surrounding scope, sometimes with tragic consequences. See the following Python
2.7 console session:

>>> x = 'my precious'
>>> dummy = [x for x in 'ABC']
>>> x
here value of x will  be 'C'

As you can see, the initial value of x was clobbered. This no longer happens in Python
3.

In [24]:
x = 'ABC'
dummy = [ord(x) for x in x]
x

'ABC'

In [25]:
dummy

[65, 66, 67]

Listcomps versus map and filter
Listcomps do everything the map and filter functions do, without the contortions of
the functionally challenged Python lambda. Consider below example

In [26]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [27]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))

In [28]:
beyond_ascii

[162, 163, 165, 8364, 164]

1)

In [29]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

2)

In [30]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

3)

In [31]:
tshirts = [(color, size) for size in sizes for color in colors]

1) This generates a list of tuples arranged by color, then size
2) Note how the resulting list is arranged as if the for loops were nested in the same
order as they appear in the listcomp
3) To get items arranged by size, then color, just rearrange the for clauses; adding
a line break to the listcomp makes it easy to see how the result will be ordered

In [32]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [33]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [34]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [35]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [36]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [37]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [38]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates # tuple unpacking

In [39]:
latitude

33.9425

In [40]:
longitude

-118.408056

In [41]:
divmod(20, 8)

(2, 4)

In [42]:
t = (20, 8)

In [43]:
divmod(*t)

(2, 4)

In [44]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [45]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')

In [46]:
filename

'idrsa.pub'

In [47]:
a, b, *rest = range(5)

In [48]:
a, b, rest

(0, 1, [2, 3, 4])

In [49]:
a, b, *rest = range(3)

In [50]:
a, b, rest

(0, 1, [2])

In [51]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [52]:
a, *body, c, d = range(5)

In [53]:
a, body, c, d

(0, [1, 2], 3, 4)

In [54]:
*head, b, c, d = range(5)

In [55]:
head, b, c, d

([0, 1], 2, 3, 4)

In [56]:
from collections import namedtuple

In [57]:
City = namedtuple('City', 'name country population coordinates')

In [58]:
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [59]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [60]:
tokyo.population

36.933

In [61]:
tokyo.coordinates

(35.689722, 139.691667)

In [62]:
tokyo[1]

'JP'

In [63]:
City._fields

('name', 'country', 'population', 'coordinates')

In [64]:
LatLong = namedtuple('LatLong', 'lat long')

In [65]:
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [66]:
delhi = City._make(delhi_data)

In [67]:
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [68]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [69]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [70]:
invoice = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                 $17.50    3    $52.50
1489  6mm Tactile Switch x20            $4.95     2    $9.90
1510  Panavise Jr. - PV-201             $28.00    1    $28.00
1601  PiTFT Mini Kit 320x240            $34.95    1    $34.95
"""
SKU = slice(0, 6)

In [71]:
DESCRIPTION = slice(6, 40)

In [72]:
UNIT_PRICE = slice(40, 52)

In [73]:
QUANTITY = slice(52, 55)

In [74]:
ITEM_TOTAL = slice(55, None)

In [75]:
line_items = invoice.split('\n')[2:]

In [76]:
line_items

['1909  Pimoroni PiBrella                 $17.50    3    $52.50',
 '1489  6mm Tactile Switch x20            $4.95     2    $9.90',
 '1510  Panavise Jr. - PV-201             $28.00    1    $28.00',
 '1601  PiTFT Mini Kit 320x240            $34.95    1    $34.95',
 '']

In [77]:
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

$17.50    3  Pimoroni PiBrella
$4.95     2  6mm Tactile Switch x20
$28.00    1  Panavise Jr. - PV-201
$34.95    1  PiTFT Mini Kit 320x240

Assigning to slices

In [78]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
l[2:5] = [20, 30]

In [80]:
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [81]:
del l[5:7]

In [82]:
l

[0, 1, 20, 30, 5, 8, 9]

In [83]:
l[3::2] = [11, 22]

In [84]:
l

[0, 1, 20, 11, 5, 22, 9]

In [85]:
l[2:5] = 100

TypeError: can only assign an iterable

In [86]:
l[2:5] = [100]

In [87]:
l

[0, 1, 100, 22, 9]

When the target of the assignment is a slice, the right-hand side must be an
iterable object, even if it has just one item.

Using + and * with sequences

In [88]:
l = [1, 2, 3]

In [89]:
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [90]:
board = [['_'] * 3 for i in range(3)]

In [91]:
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [92]:
board[1][2] = 'X'

In [93]:
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [94]:
weird_board = [['_'] * 3] * 3

In [95]:
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [96]:
weird_board[1][2] = 'O'

In [97]:
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [98]:
l = [1, 2, 3]

In [99]:
id(l)

140020171127880

In [100]:
l *= 2

In [101]:
l

[1, 2, 3, 1, 2, 3]

In [102]:
id(l)

140020171127880

In [103]:
t = (1, 2, 3)

In [104]:
id(t)

140020179938040

In [105]:
t *= 2

In [106]:
id(t)

140020222319496

In [107]:
FrenchDeck.ranks

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [108]:
card = Card('Q', 'hearts')

In [109]:
card.rank

'Q'

In [110]:
help(FrenchDeck.ranks.index)

Help on built-in function index:

index(...) method of builtins.list instance
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [111]:
FrenchDeck.ranks.index(card.rank)

10